h1 Items
ul#notifications

form#add-item-form
  p
    input(type='text', name='item[entity]', placeholder='entity')
    input(type='text', name='item[comment]', placeholder='comment')
    input(type='text', name='item[amount]', placeholder='amount')
  p
    input(type='text', name='item[date]', value=date('mm/dd/yy'))
    input(type='text', name='item[category]', placeholder='category')
    input(type='text', name='item[tags]', placeholder='tags')
  p.actions
    input#add-item(type='submit', value='Add')

table#items
  thead
    tr
      th
      th Comment
      th Amount
      th Category
      th Tags
      th Date
  tbody
    != partial('item', items)