ul#notifications

form#items-form(action='/')
  table#items
    thead
      tr
        th
        th Amount
        th Comment
        th Category
        th Tags
        th Date
    tbody
      != partial('item', { collection: items })
      != partial('item/form')