!!!
html
  head
    title= settings.title
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js')
    script(src='/javascripts/raphael.js')
    script(src='/javascripts/g.raphael.js')
    script(src='/javascripts/g.pie.js')
    script(src='/javascripts/main.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script!= javascript
  body!= body

  script#confirm(type='text/template')
    div#confirmation.dialog
      .message Message
      .actions
        button.ok OK
        button.cancel Cancel

  script#chart(type='text/template')
    div#chart.dialog
      .chart#category-chart
      .chart#entity-chart

  div#overlay.hide