!!!
html
  head
    title= settings.title
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js')
    script(src='/javascripts/main.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body

  script#confirm(type='text/template')
    div#confirmation.dialog
      .message Message
      .actions
        button.ok OK
        button.cancel Cancel

  div#overlay.hide