
ul#menu
  li.charts: a(href='#') Charts

ul#notifications

#current-month= monthName(month)

- if (month)
  a#prev-month(href='/month/' + (month - 1))= monthName(month - 1)

- if (month < 11)
  a#next-month(href='/month/' + (month + 1))= monthName(month + 1)

form#items-form(action='/')
  table#items
    thead
      tr
        th
        th Amount
        th Comment
        th Category
        th Tags
        th Date
    tbody
      != partial('item', { collection: items })
      != partial('item/form')

#category-chart
#entity-chart
