
@import 'tablet/buttons'
@import 'tablet/positions'

// colors

light = #a9a9a9
lighter = #eee
blue = #00ABFA
dark = #222

// mixins

notification(color)
  margin: 8px 0
  padding: 8px 15px
  border: 1px solid color
  background: color + 95%
  font-size: 12px
  color: color

smooth()
  -webkit-font-smoothing: antialiased

button()
  bold-button()
  padding: 5px 8px 6px 8px
  &:hover
    box-shadow: inset 0 0 3px 1px rgba(blue, 0.6), inset 0 -1px 0 0 blue
  &:active
    box-shadow: inset 0 0 5px 1px rgba(black, 0.6)
  &:focus
    outline: none
    box-shadow: inset 0 0 3px 1px rgba(blue, 0.6), inset 0 -1px 0 0 blue, 0 0 3px 1px rgba(blue, 0.5)

// general

body
  padding: 50px
  font: 14px 'helvetica neue', helvetica, arial, sans-serif
  smooth()

a
  color: #00B7FF
  text-decoration: none
  &:hover
    text-decoration: underline

// forms

form
  p
    margin: 0
    &.actions
      margin-top 15px
  input[type='text']
    padding: 8px 10px
    outline: none
    border-radius: 5px
    border: 1px solid lighter
    color: light
  input[type='submit']
    button()

// notifications

ul#notifications
  margin: 0
  padding: 0
  li
    list-style: none
    &.error
      notification: #c00
    &.info
      notification: #0DAAF3

// dialogs

.dialog
  fixed: top 45% left 45%
  padding: 5px 10px
  background: white
  border-radius: 5px
  box-shadow 0 0 50px 0 rgba(black, 0.4)
  z-index: 1000
  text-align: left
  .message
    padding: 20px
  &#confirmation
    width: 200px
  .actions
    a
      margin: 1px
      float: right
      button()
    

// overlay

#overlay
  absolute: top 0 left 0
  width: 100%
  height: 100%
  background: rgba(black, 0.8)
  z-index: 500
  -webkit-transition opacity 0.3s ease-out
  opacity: 1
  visibility: visible
  &.hide
    opacity: 0
    visibility: hidden

// items table

table#items
  width: 100%
  margin-top: 50px
  border-collapse: collapse
  thead
    tr
      th
        padding: 10px 10px 10px 0
        text-align: right
  tbody
    tr
      border-bottom: 1px solid #eee
      &:last-child
        border-bottom: none
      td
        border-right: 1px solid #eee
        &:last-child
          border-right: none
        padding 2px 15px
        text-align: right
        &.entity
          text-align: left
        &.amount
          color: light
        &.delete
          width: 70px
          a
            button()
