body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
input[type="submit"] {
  display: block;
  text-decoration: none;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 11px;
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4d4d4d), color-stop(1, #333));
  background: -moz-linear-gradient(top, #4d4d4d 0%, #333 100%);
  background: linear-gradient(top, #4d4d4d 0%, #333 100%);
  -webkit-box-shadow: inset 0 1px 1px 0 #6c6c6c;
  -moz-box-shadow: inset 0 1px 1px 0 #6c6c6c;
  box-shadow: inset 0 1px 1px 0 #6c6c6c;
  border: 1px solid #333;
  line-height: 1;
  padding: 7px 10px 8px 10px;
  text-align: center;
  text-shadow: 0 -1px 0 #2b2b2b;
  color: #fff;
}
input[type="submit"]:hover,
input[type="submit"].hover {
#383838
  background: #383838;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4d4d4d), color-stop(1, #383838));
  background: -moz-linear-gradient(top, #4d4d4d 0%, #383838 100%);
  background: linear-gradient(top, #4d4d4d 0%, #383838 100%);
  -webkit-box-shadow: inset 0 1px 1px 0 #838383;
  -moz-box-shadow: inset 0 1px 1px 0 #838383;
  box-shadow: inset 0 1px 1px 0 #838383;
}
input[type="submit"]:active,
input[type="submit"].active {
#292929
  background: #292929;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #292929), color-stop(1, #3e3e3e));
  background: -moz-linear-gradient(top, #292929 0%, #3e3e3e 100%);
  background: linear-gradient(top, #292929 0%, #3e3e3e 100%);
  -webkit-box-shadow: inset 0 -1px 1px 0 #5c5c5c;
  -moz-box-shadow: inset 0 -1px 1px 0 #5c5c5c;
  box-shadow: inset 0 -1px 1px 0 #5c5c5c;
}
ul#notifications {
  margin: 0;
  padding: 0;
}
ul#notifications li {
  list-style: none;
}
ul#notifications li.error {
  margin: 3px 0;
  padding: 8px 15px;
  border: 1px solid #c00;
  background: #ff8f8f;
  font-size: 12px;
  color: #c00;
}
ul#notifications li.info {
  margin: 3px 0;
  padding: 8px 15px;
  border: 1px solid #0daaf3;
  background: #f5fbfe;
  font-size: 12px;
  color: #0daaf3;
}
