
@import 'tablet/buttons'

// colors

light = #a9a9a9
lighter = #eee

// mixins

notification(color)
  margin: 3px 0
  padding: 8px 15px
  border: 1px solid color
  background: color + 95%
  font-size: 12px
  color: color

smooth()
  -webkit-font-smoothing: antialiased

// general

body
  padding: 50px
  font: 14px 'helvetica neue', helvetica, arial, sans-serif
  smooth()

a
  color: #00B7FF
  text-decoration: none
  &:hover
    text-decoration: underline

.hide
  display: none

// forms

form
  p
    margin: 0
    &.actions
      margin-top 15px
  input[type='text']
    padding: 8px 10px
    outline: none
    border-radius: 5px
    border: 1px solid lighter
    color: light
  input[type='submit']
    bold-button()

// notifications

ul#notifications
  margin: 0
  padding: 0
  li
    list-style: none
    &.error
      notification: #c00
    &.info
      notification: #0DAAF3

// items table

table#items
  width: 80%
  margin-top: 50px
  border-collapse: collapse
  thead
    tr
      th
        padding: 10px 0
  tbody
    tr
      border-bottom: 1px solid #eee
      &:last-child
        border-bottom: none
      td
        padding 5px 25px
        &.amount
          text-align: right
          color: light
        &.delete a
          bold-button()
