body {
  padding: 5px 40px;
  font: 14px "helvetica neue", helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #00b7ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
input[type="text"] {
  margin: 5px 0;
  padding: 8px 10px;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #eee;
  color: #a9a9a9;
}
input[type="submit"] {
  display: block;
  text-decoration: none;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 11px;
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4d4d4d), color-stop(1, #333));
  background: -moz-linear-gradient(top, #4d4d4d 0%, #333 100%);
  background: linear-gradient(top, #4d4d4d 0%, #333 100%);
  -webkit-box-shadow: inset 0 1px 1px 0 #6c6c6c;
  -moz-box-shadow: inset 0 1px 1px 0 #6c6c6c;
  box-shadow: inset 0 1px 1px 0 #6c6c6c;
  border: 1px solid #333;
  line-height: 1;
  padding: 7px 10px 8px 10px;
  text-align: center;
  text-shadow: 0 -1px 0 #2b2b2b;
  color: #fff;
  padding: 5px 8px 6px 8px;
}
input[type="submit"]:hover,
input[type="submit"].hover {
#383838
  background: #383838;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4d4d4d), color-stop(1, #383838));
  background: -moz-linear-gradient(top, #4d4d4d 0%, #383838 100%);
  background: linear-gradient(top, #4d4d4d 0%, #383838 100%);
  -webkit-box-shadow: inset 0 1px 1px 0 #838383;
  -moz-box-shadow: inset 0 1px 1px 0 #838383;
  box-shadow: inset 0 1px 1px 0 #838383;
}
input[type="submit"]:active,
input[type="submit"].active {
#292929
  background: #292929;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #292929), color-stop(1, #3e3e3e));
  background: -moz-linear-gradient(top, #292929 0%, #3e3e3e 100%);
  background: linear-gradient(top, #292929 0%, #3e3e3e 100%);
  -webkit-box-shadow: inset 0 -1px 1px 0 #5c5c5c;
  -moz-box-shadow: inset 0 -1px 1px 0 #5c5c5c;
  box-shadow: inset 0 -1px 1px 0 #5c5c5c;
}
input[type="submit"]:hover {
  -webkit-box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.6), inset 0 -1px 0 0 #00abfa;
  -moz-box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.6), inset 0 -1px 0 0 #00abfa;
  box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.6), inset 0 -1px 0 0 #00abfa;
}
input[type="submit"]:active {
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.6);
  -moz-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.6);
  box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.6);
}
input[type="submit"]:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.6), inset 0 -1px 0 0 #00abfa, 0 0 3px 1px rgba(0,171,250,0.5);
  -moz-box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.6), inset 0 -1px 0 0 #00abfa, 0 0 3px 1px rgba(0,171,250,0.5);
  box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.6), inset 0 -1px 0 0 #00abfa, 0 0 3px 1px rgba(0,171,250,0.5);
}
ul#notifications {
  margin: 0;
  padding: 0;
}
ul#notifications li {
  list-style: none;
}
ul#notifications li.error {
  margin: 8px 0;
  padding: 8px 15px;
  border: 1px solid #c00;
  background: #ff8f8f;
  font-size: 12px;
  color: #c00;
}
ul#notifications li.info {
  margin: 8px 0;
  padding: 8px 15px;
  border: 1px solid #0daaf3;
  background: #f5fbfe;
  font-size: 12px;
  color: #0daaf3;
}
.dialog {
  position: fixed;
  top: 45%;
  left: 45%;
  padding: 5px 10px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 50px 0 rgba(0,0,0,0.4);
  box-shadow: 0 0 50px 0 rgba(0,0,0,0.4);
  z-index: 1000;
  text-align: left;
}
.dialog .message {
  padding: 20px;
}
.dialog#confirmation {
  width: 200px;
}
.dialog .actions a {
  margin: 1px;
  float: right;
  display: block;
  text-decoration: none;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 11px;
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4d4d4d), color-stop(1, #333));
  background: -moz-linear-gradient(top, #4d4d4d 0%, #333 100%);
  background: linear-gradient(top, #4d4d4d 0%, #333 100%);
  -webkit-box-shadow: inset 0 1px 1px 0 #6c6c6c;
  -moz-box-shadow: inset 0 1px 1px 0 #6c6c6c;
  box-shadow: inset 0 1px 1px 0 #6c6c6c;
  border: 1px solid #333;
  line-height: 1;
  padding: 7px 10px 8px 10px;
  text-align: center;
  text-shadow: 0 -1px 0 #2b2b2b;
  color: #fff;
  padding: 5px 8px 6px 8px;
}
.dialog .actions a:hover,
.dialog .actions a.hover {
#383838
  background: #383838;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4d4d4d), color-stop(1, #383838));
  background: -moz-linear-gradient(top, #4d4d4d 0%, #383838 100%);
  background: linear-gradient(top, #4d4d4d 0%, #383838 100%);
  -webkit-box-shadow: inset 0 1px 1px 0 #838383;
  -moz-box-shadow: inset 0 1px 1px 0 #838383;
  box-shadow: inset 0 1px 1px 0 #838383;
}
.dialog .actions a:active,
.dialog .actions a.active {
#292929
  background: #292929;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #292929), color-stop(1, #3e3e3e));
  background: -moz-linear-gradient(top, #292929 0%, #3e3e3e 100%);
  background: linear-gradient(top, #292929 0%, #3e3e3e 100%);
  -webkit-box-shadow: inset 0 -1px 1px 0 #5c5c5c;
  -moz-box-shadow: inset 0 -1px 1px 0 #5c5c5c;
  box-shadow: inset 0 -1px 1px 0 #5c5c5c;
}
.dialog .actions a:hover {
  -webkit-box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.6), inset 0 -1px 0 0 #00abfa;
  -moz-box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.6), inset 0 -1px 0 0 #00abfa;
  box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.6), inset 0 -1px 0 0 #00abfa;
}
.dialog .actions a:active {
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.6);
  -moz-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.6);
  box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.6);
}
.dialog .actions a:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.6), inset 0 -1px 0 0 #00abfa, 0 0 3px 1px rgba(0,171,250,0.5);
  -moz-box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.6), inset 0 -1px 0 0 #00abfa, 0 0 3px 1px rgba(0,171,250,0.5);
  box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.6), inset 0 -1px 0 0 #00abfa, 0 0 3px 1px rgba(0,171,250,0.5);
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 500;
  -webkit-transition: opacity 0.3s ease-out;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  visibility: visible;
}
#overlay.hide {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  visibility: hidden;
}
table#items {
  width: 100%;
  margin-top: 50px;
  border-collapse: collapse;
}
table#items thead tr th {
  padding: 10px 10px 10px 0;
  text-align: right;
}
table#items tbody tr {
  border-bottom: 1px solid #eee;
}
table#items tbody tr:last-child {
  border-bottom: none;
}
table#items tbody tr td {
  border-right: 1px solid #eee;
  padding: 4px 15px;
  text-align: right;
}
table#items tbody tr td:last-child {
  border-right: none;
}
table#items tbody tr td.entity {
  text-align: left;
}
table#items tbody tr td.entity input {
  width: 90px;
}
table#items tbody tr td.amount {
  color: #a9a9a9;
  width: 80px;
}
table#items tbody tr td.amount input {
  width: 60px;
  text-align: right;
}
table#items tbody tr td.category,
table#items tbody tr td.date,
table#items tbody tr td.tags {
  width: 100px;
}
table#items tbody tr td.category input,
table#items tbody tr td.date input,
table#items tbody tr td.tags input {
  width: 80px;
}
table#items tbody tr td.delete {
  width: 70px;
}
table#items tbody tr td.delete a {
  display: block;
  text-decoration: none;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 11px;
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4d4d4d), color-stop(1, #333));
  background: -moz-linear-gradient(top, #4d4d4d 0%, #333 100%);
  background: linear-gradient(top, #4d4d4d 0%, #333 100%);
  -webkit-box-shadow: inset 0 1px 1px 0 #6c6c6c;
  -moz-box-shadow: inset 0 1px 1px 0 #6c6c6c;
  box-shadow: inset 0 1px 1px 0 #6c6c6c;
  border: 1px solid #333;
  line-height: 1;
  padding: 7px 10px 8px 10px;
  text-align: center;
  text-shadow: 0 -1px 0 #2b2b2b;
  color: #fff;
  padding: 5px 8px 6px 8px;
}
table#items tbody tr td.delete a:hover,
table#items tbody tr td.delete a.hover {
#383838
  background: #383838;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4d4d4d), color-stop(1, #383838));
  background: -moz-linear-gradient(top, #4d4d4d 0%, #383838 100%);
  background: linear-gradient(top, #4d4d4d 0%, #383838 100%);
  -webkit-box-shadow: inset 0 1px 1px 0 #838383;
  -moz-box-shadow: inset 0 1px 1px 0 #838383;
  box-shadow: inset 0 1px 1px 0 #838383;
}
table#items tbody tr td.delete a:active,
table#items tbody tr td.delete a.active {
#292929
  background: #292929;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #292929), color-stop(1, #3e3e3e));
  background: -moz-linear-gradient(top, #292929 0%, #3e3e3e 100%);
  background: linear-gradient(top, #292929 0%, #3e3e3e 100%);
  -webkit-box-shadow: inset 0 -1px 1px 0 #5c5c5c;
  -moz-box-shadow: inset 0 -1px 1px 0 #5c5c5c;
  box-shadow: inset 0 -1px 1px 0 #5c5c5c;
}
table#items tbody tr td.delete a:hover {
  -webkit-box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.6), inset 0 -1px 0 0 #00abfa;
  -moz-box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.6), inset 0 -1px 0 0 #00abfa;
  box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.6), inset 0 -1px 0 0 #00abfa;
}
table#items tbody tr td.delete a:active {
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.6);
  -moz-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.6);
  box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.6);
}
table#items tbody tr td.delete a:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.6), inset 0 -1px 0 0 #00abfa, 0 0 3px 1px rgba(0,171,250,0.5);
  -moz-box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.6), inset 0 -1px 0 0 #00abfa, 0 0 3px 1px rgba(0,171,250,0.5);
  box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.6), inset 0 -1px 0 0 #00abfa, 0 0 3px 1px rgba(0,171,250,0.5);
}
table#items tbody tr.edit-item td {
  text-align: right;
}
table#items tbody tr.edit-item td input[type="text"] {
  width: 80%;
}
